USE [master]
GO
/****** Object:  Database [尝试3.23]    Script Date: 2020/5/10 17:02:45 ******/
CREATE DATABASE [尝试3.23]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'尝试3.23', FILENAME = N'D:\数据库\数据库数据\3.23练习\尝试3.23.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'尝试3.23_log', FILENAME = N'D:\数据库\数据库数据\3.23练习\尝试3.23_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [尝试3.23].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [尝试3.23]
GO
/****** Object:  User [use]    Script Date: 2020/5/10 17:02:45 ******/
CREATE USER [use] FOR LOGIN [use] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [003]    Script Date: 2020/5/10 17:02:45 ******/
CREATE USER [003] FOR LOGIN [003] WITH DEFAULT_SCHEMA=[003]
GO
/****** Object:  User [001]    Script Date: 2020/5/10 17:02:45 ******/
CREATE USER [001] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [003]
GO
/****** Object:  Schema [003]    Script Date: 2020/5/10 17:02:45 ******/
CREATE SCHEMA [003]
GO
/****** Object:  Table [dbo].[学生]    Script Date: 2020/5/10 17:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[学生](
	[姓名] [nvarchar](50) NULL,
	[学号] [nvarchar](50) NOT NULL,
	[性别] [nvarchar](50) NULL,
	[年龄] [nvarchar](50) NULL,
	[年级] [nvarchar](50) NULL,
 CONSTRAINT [PK__学生__1CC396D2895E1BCB] PRIMARY KEY CLUSTERED 
(
	[学号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[选课]    Script Date: 2020/5/10 17:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[选课] 
as
select 性别,count(*) 数量 from 学生 
group by 性别
GO
/****** Object:  Table [dbo].[课程]    Script Date: 2020/5/10 17:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[课程](
	[课程名] [nvarchar](50) NULL,
	[课程代码] [nvarchar](50) NOT NULL,
	[任课教师] [nvarchar](50) NULL,
	[容量] [nvarchar](50) NULL,
	[教材] [nvarchar](50) NULL,
 CONSTRAINT [PK__课程__CCD2B8B2CE35379A] PRIMARY KEY CLUSTERED 
(
	[课程代码] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[选课信息]    Script Date: 2020/5/10 17:02:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[选课信息](
	[课程代码] [nvarchar](50) NULL,
	[选课编号] [nvarchar](50) NOT NULL,
	[学生学号] [nvarchar](50) NULL,
 CONSTRAINT [PK__选课信息__18F458500A00DDB3] PRIMARY KEY CLUSTERED 
(
	[选课编号] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[选课信息]  WITH CHECK ADD  CONSTRAINT [FK__选课信息__课程代码__6477ECF3] FOREIGN KEY([课程代码])
REFERENCES [dbo].[课程] ([课程代码])
GO
ALTER TABLE [dbo].[选课信息] CHECK CONSTRAINT [FK__选课信息__课程代码__6477ECF3]
GO
ALTER TABLE [dbo].[选课信息]  WITH CHECK ADD  CONSTRAINT [FK__选课信息__学生学号__656C112C] FOREIGN KEY([学生学号])
REFERENCES [dbo].[学生] ([学号])
GO
ALTER TABLE [dbo].[选课信息] CHECK CONSTRAINT [FK__选课信息__学生学号__656C112C]
GO
USE [master]
GO
