
@{
    ViewBag.Title = "Xuanze";
}

<h2>Xuanze</h2>
<p>选择考试级别</p>

<form action="/User/Xuanzeq" method="post">
    <input name="级" value="A级" type="radio">A级
    <input name="级" value="B级" type="radio">B级
    <input name="级" value="C级" type="radio">C级

    <input name="tijiao" value="提交" type="submit">     

</form>

